.app-container {
  display: flex;
  min-height:750px;
}

.content {
  width: 100%;
}
.create-post{
  margin-left: 3%;
}
.postInput{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-left: 20px;
  gap: 10px;
}
.twodivs {
  display:flex;
  flex-direction:column;
  align-items: center;
}
.welcome {
  margin: 20px 0;
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
